#chat-container,
input {
    font-family: 'Montserrat', sans-serif;
}

#chat-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 5px gray;
}

.header {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10 0 5px gray;
    justify-self: center;
    background-color: gray;
    margin: 0;
    padding: 10px;
}

a {
    color: rgb(255, 255, 255);
}

#mbti-container div,
#categories-container div {
    font-weight: 600;
}

#mbti-container {
    margin: 10px;
    display: grid;
    justify-items: stretch;
    align-items: center;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#mbti-container div {
    text-align: center;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(224, 224, 224);
}

#mbti-container div:hover {
    cursor: pointer;
    opacity: 90%;
}

#categories-section-container {
    display: none;
    z-index: 1;
}

#categories-container {
    margin: 10px;
    display: grid;
    justify-items: stretch;
    align-items: center;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#categories-container div {
    text-align: center;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(224, 224, 224);
}

#categories-container div:hover {
    cursor: pointer;
    opacity: 90%;
}


#chat-response {
    height: 500px;
    background-color: rgb(47, 79, 79);
    color: rgb(255, 255, 255);
    padding: 10px;
}

#input-container {
    display: flex;
    border-top: 1px solid gray;
}

#chat-input {
    font-size: 16px;
    width: -webkit-fill-available;
    background-color: rgb(47, 79, 79);
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    outline: none;
}

#chat-input:hover {
    opacity: 60%;
}

#chat-input:active,
#chat-input:focus {
    opacity: 60%;
}

#send-btn {
    font-size: 50px;
    background-color:  rgb(47, 79, 79);
    border: none;
    padding: 0 20px;
    color: rgb(255, 255, 255);
}

#send-btn:hover {
    opacity: 60%;
    cursor: pointer;
}